@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

body {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: rgb(230, 230, 230);
  min-height: 100vh;
  width: 100svw;
  overflow-x: hidden;
  position: relative;
}

.container {
  padding-inline: 5rem;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (width < 767px) {
  .container {
    padding-inline: 1rem;
  }
}
/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../assets/images/background-triangle.jpg");
  background-position: 40% 50%;
  background-size: 300%;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navbar .header {
  display: flex;
  justify-content: center;
}
.navbar .header .logo {
  width: 200px;
  padding: 0.5em 1em;
}
.navbar .header .logo img {
  width: 100%;
}
.navbar .header .hamburger {
  display: none;
}
.navbar .nav-links {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1em;
  align-items: baseline;
}
.navbar .nav-links .nav-item {
  display: block;
  font-size: 0.8em;
  line-height: 1.5rem;
  padding: 0.5em 1em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
}
.navbar .nav-links .btn {
  border: 2px solid white;
  border-radius: 1em;
  padding: 0.5em 1em;
  color: rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.navbar .nav-links .btn:hover {
  background-color: white;
  color: blue;
}

@media screen and (width < 767px) {
  .navbar {
    height: 3em;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
  }
  .navbar .header {
    width: 100%;
    height: 3em;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .header .logo {
    width: 150px;
    padding: 0.5em 1em;
  }
  .navbar .header .hamburger {
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    overflow: hidden;
    margin: 0.5em 1em;
  }
  .navbar .header .hamburger .menu-checkbox {
    opacity: 0;
    z-index: 2;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar .header .hamburger .bar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .navbar .header .hamburger .bar hr {
    width: 100%;
    height: 4px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
  }
  .navbar .header .hamburger .menu-checkbox:checked + .bar hr:nth-child(1) {
    animation: open1 0.5s ease-in-out forwards;
  }
  .navbar .header .hamburger .menu-checkbox:checked + .bar hr:nth-child(2) {
    animation: open2 0.5s ease-in-out forwards;
  }
  .navbar .header .hamburger .menu-checkbox:checked + .bar hr:nth-child(3) {
    animation: open3 0.5s ease-in-out forwards;
  }
  .navbar .header .hamburger .menu-checkbox + .bar hr:nth-child(1) {
    animation: close1 0.5s ease-in-out forwards;
  }
  .navbar .header .hamburger .menu-checkbox + .bar hr:nth-child(2) {
    animation: close2 0.5s ease-in-out forwards;
  }
  .navbar .header .hamburger .menu-checkbox + .bar hr:nth-child(3) {
    animation: close3 0.5s ease-in-out forwards;
  }
  .navbar .open_link,
  .navbar .nav-links {
    display: none;
    opacity: 0;
  }
  .navbar .open_link {
    position: sticky;
    top: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    height: 100svi;
    row-gap: 1em;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: slide_down 0.6s ease forwards;
  }
  .navbar:has(.open_link) {
    height: 100svi;
    background-position: 0% 0%;
  }
}
/* animation */
@keyframes open1 {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(45deg) translate(6px, 7px);
  }
}
@keyframes open2 {
  0% {
    transform: none;
  }
  100% {
    transform: translateX(40px);
  }
}
@keyframes open3 {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(-45deg) translate(6px, -7px);
  }
}
@keyframes close1 {
  0% {
    transform: rotate(45deg) translate(6px, 7px);
  }
  100% {
    transform: none;
  }
}
@keyframes close2 {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: none;
  }
}
@keyframes close3 {
  0% {
    transform: rotate(-45deg) translate(6px, -7px);
  }
  100% {
    transform: none;
  }
}
@keyframes slide_down {
  0% {
    opacity: 0;
    transform: translateY(-120%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide_up {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(-120%);
  }
}
/* nav ends */
footer {
  background: linear-gradient(45deg, rgb(7, 7, 107), rgb(0, 0, 141), rgb(5, 5, 125));
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-block: 4em;
  flex-basis: 33%;
  gap: 2em;
}
footer .logo-img {
  width: 60px;
  aspect-ratio: 1/1;
}
footer .footer-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-transform: capitalize;
}
footer .footer-link a {
  padding: 0.25em 1em;
  font-size: 1.1rem;
}
footer .footer-social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-social-media .btn {
  border: 2px solid white;
  border-radius: 1em;
  padding: 0.5em 1em;
  color: rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  padding: 0.5em 1em;
}
footer .footer-social-media .btn:hover {
  background-color: white;
  color: blue;
}
footer .footer-social-media .icons {
  padding-block: 1em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
footer .footer-social-media .icons a i {
  font-size: 2rem;
}

@media screen and (width < 767px) {
  footer {
    padding-block: 2em;
    flex-direction: column;
    gap: 0.5em;
  }
  footer .logo-img {
    order: 2;
    margin: 1em;
  }
  footer .footer-link {
    width: 80%;
    order: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
  footer .footer-social-media {
    width: 100%;
    order: 3;
  }
}
@media (hover) {
  footer .footer-link p:hover {
    cursor: pointer;
  }
  footer .footer-social-media .btn,
  footer .footer-social-media .icons {
    cursor: pointer;
  }
}
.checkout-section {
  background-color: rgb(240, 240, 240);
  background-size: cover;
  background-position: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.checkout-section .image-container {
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  text-align: center;
}
.checkout-section .image-container img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.checkout-section .cold-drink-info {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: rgb(22, 22, 86);
}
.checkout-section .cold-drink-info p {
  padding: 0.25rem 0.5rem;
}
.checkout-section .cold-drink-info p:nth-child(1) {
  border-bottom: 2px solid rgb(205, 203, 203);
  font-weight: 700;
}
.checkout-section .cold-drink-info p:nth-child(2) {
  padding-top: 1rem;
}
.checkout-section .cold-drink-info p:nth-child(4) {
  border-bottom: 2px solid rgb(205, 203, 203);
  text-underline-offset: 10px;
  font-size: 1.2em;
  padding-top: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.checkout-section .cold-drink-info #cold-drink-name {
  font-size: 2rem;
}
.checkout-section .checkout-container {
  border-top: 2px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: rgb(22, 22, 86);
  margin-block: 1rem;
  padding-block: 1rem;
}
.checkout-section .checkout-container p {
  font-weight: 500;
}
.checkout-section .checkout-container .quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.checkout-section .checkout-container .quantity-container button {
  border: 2px solid white;
  border-radius: 1em;
  padding: 0.5em 1em;
  color: rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: black;
  font-size: 1.2rem;
  border-radius: 70px;
  aspect-ratio: 1/1;
  background-color: rgb(205, 205, 205);
}
.checkout-section .checkout-container .quantity-container button:hover {
  background-color: white;
  color: blue;
}
.checkout-section .checkout-container .quantity-container button:hover {
  border: 2px solid blue;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.checkout-section .checkout-container .quantity-container input {
  height: 2.5rem;
  border-radius: 0.25rem;
  outline: transparent;
  text-align: center;
  font-size: 1rem;
}
.checkout-section .checkout-container .btn {
  border: 2px solid white;
  border-radius: 1em;
  padding: 0.5em 1em;
  color: rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: black;
  font-size: 1.2rem;
  border-radius: 70px;
  width: 250px;
  background-color: rgb(205, 205, 205);
}
.checkout-section .checkout-container .btn:hover {
  background-color: white;
  color: blue;
}
.checkout-section .checkout-container .btn:hover {
  border: 2px solid blue;
  background-color: blue;
  color: white;
  cursor: pointer;
}

@media screen and (width < 767px) {
  .checkout-section {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .checkout-section .image-container img {
    height: 250px;
  }
  .checkout-section .image-container .checkout-container .quantity-container input {
    width: 50%;
  }
}/*# sourceMappingURL=checkout.css.map */