@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

body {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: rgb(230, 230, 230);
  min-height: 100vh;
  width: 100svw;
  overflow-x: hidden;
}

.container {
  padding-inline: 5rem;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (width < 767px) {
  .container {
    padding-inline: 1rem;
  }
}
/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../assets/images/background-triangle.jpg");
  background-position: 40% 50%;
  background-size: 300%;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navbar .header {
  display: flex;
  justify-content: center;
}
.navbar .header .logo {
  width: 240px;
  padding: 0.5em 2em;
}
.navbar .header .logo img {
  width: 100%;
}
.navbar .header .hamburger {
  display: none;
}
.navbar .nav-links {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 2em;
  align-items: baseline;
}
.navbar .nav-links .nav-item {
  display: block;
  font-size: 0.8em;
  line-height: 1.5rem;
  padding: 0.5em 1em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
}
.navbar .nav-links .btn {
  border: 2px solid white;
  border-radius: 1em;
  padding: 0.5em 1em;
  color: rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.navbar .nav-links .btn:hover {
  background-color: white;
  color: blue;
}

@media screen and (width < 767px) {
  .navbar {
    height: 3em;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
  }
  .navbar .header {
    width: 100%;
    height: 3em;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .header .logo {
    width: 150px;
    padding: 0.5em 1em;
  }
  .navbar .header .hamburger {
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    overflow: hidden;
    margin: 0.5em 1em;
  }
  .navbar .header .hamburger .menu-checkbox {
    opacity: 0;
    z-index: 2;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar .header .hamburger .bar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .navbar .header .hamburger .bar hr {
    width: 100%;
    height: 4px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
  }
  .navbar .header .hamburger .menu-checkbox:checked + .bar hr:nth-child(1) {
    animation: open1 0.5s ease-in-out forwards;
  }
  .navbar .header .hamburger .menu-checkbox:checked + .bar hr:nth-child(2) {
    animation: open2 0.5s ease-in-out forwards;
  }
  .navbar .header .hamburger .menu-checkbox:checked + .bar hr:nth-child(3) {
    animation: open3 0.5s ease-in-out forwards;
  }
  .navbar .header .hamburger .menu-checkbox + .bar hr:nth-child(1) {
    animation: close1 0.5s ease-in-out forwards;
  }
  .navbar .header .hamburger .menu-checkbox + .bar hr:nth-child(2) {
    animation: close2 0.5s ease-in-out forwards;
  }
  .navbar .header .hamburger .menu-checkbox + .bar hr:nth-child(3) {
    animation: close3 0.5s ease-in-out forwards;
  }
  .navbar .open_link,
  .navbar .nav-links {
    display: none;
    opacity: 0;
  }
  .navbar .open_link {
    position: sticky;
    top: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    height: 100svi;
    row-gap: 1em;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: slide_down 0.6s ease forwards;
  }
  .navbar:has(.open_link) {
    height: 100svi;
    background-position: 60% 50%;
  }
}
/* animation */
@keyframes open1 {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(45deg) translate(6px, 7px);
  }
}
@keyframes open2 {
  0% {
    transform: none;
  }
  100% {
    transform: translateX(40px);
  }
}
@keyframes open3 {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(-45deg) translate(6px, -7px);
  }
}
@keyframes close1 {
  0% {
    transform: rotate(45deg) translate(6px, 7px);
  }
  100% {
    transform: none;
  }
}
@keyframes close2 {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: none;
  }
}
@keyframes close3 {
  0% {
    transform: rotate(-45deg) translate(6px, -7px);
  }
  100% {
    transform: none;
  }
}
@keyframes slide_down {
  0% {
    opacity: 0;
    transform: translateY(-120%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide_up {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(-120%);
  }
}
/* nav ends */
footer {
  background: linear-gradient(45deg, rgb(7, 7, 107), rgb(0, 0, 141), rgb(5, 5, 125));
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-block: 4em;
  flex-basis: 33%;
  gap: 2em;
}
footer .logo-img {
  width: 60px;
  aspect-ratio: 1/1;
}
footer .footer-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-transform: capitalize;
}
footer .footer-link a {
  padding-inline: 1em;
  font-size: 1.1rem;
}
footer .footer-social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-social-media .btn {
  border: 2px solid white;
  border-radius: 1em;
  padding: 0.5em 1em;
  color: rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  padding: 0.5em 1em;
}
footer .footer-social-media .btn:hover {
  background-color: white;
  color: blue;
}
footer .footer-social-media .icons {
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
footer .footer-social-media .icons a i {
  font-size: 2rem;
}

@media screen and (width < 767px) {
  footer {
    padding-block: 2em;
    flex-direction: column;
    gap: 0.5em;
  }
  footer .logo-img {
    order: 2;
    margin: 1em;
  }
  footer .footer-link {
    width: 80%;
    order: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
  footer .footer-social-media {
    width: 100%;
    order: 3;
  }
}
@media (hover) {
  footer .footer-link p:hover {
    cursor: pointer;
  }
  footer .footer-social-media .btn,
  footer .footer-social-media .icons {
    cursor: pointer;
  }
}
.contact-us-section {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.486), rgba(32, 0, 139, 0.529)), url("../assets/images/background-triangle.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.contact-us-section .heading {
  display: grid;
  place-content: center;
  color: rgb(255, 255, 255);
  font-size: 5rem;
  text-transform: uppercase;
  background: linear-gradient(45deg, rgba(51, 51, 51, 0.5294117647), rgba(153, 153, 153, 0.4941176471)), url("../assets/images/Carbonated_Blue_RGB@2x.jpg");
  background-position: bottom;
  background-size: cover;
  height: 10rem;
}
.contact-us-section .contact-us-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 4rem 2rem;
}
.contact-us-section .contact-us-container .contact-form {
  min-height: 50svh;
  width: 30rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.contact-us-section .contact-us-container .contact-form h2 {
  font-weight: 500;
  text-transform: uppercase;
}
.contact-us-section .contact-us-container .contact-form input,
.contact-us-section .contact-us-container .contact-form textarea {
  height: 3rem;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  background-color: rgba(201, 201, 201, 0.2431372549);
  color: rgb(230, 230, 230);
  color: rgb(255, 255, 255);
  font-weight: 400;
  border: transparent;
  border-bottom: 2px solid rgb(132, 132, 186);
  outline: transparent;
}
.contact-us-section .contact-us-container .contact-form input::-moz-placeholder, .contact-us-section .contact-us-container .contact-form textarea::-moz-placeholder {
  color: rgba(230, 230, 230, 0.804);
}
.contact-us-section .contact-us-container .contact-form input::placeholder,
.contact-us-section .contact-us-container .contact-form textarea::placeholder {
  color: rgba(230, 230, 230, 0.804);
}
.contact-us-section .contact-us-container .contact-form textarea {
  resize: none;
  height: 8rem;
}
.contact-us-section .contact-us-container .contact-form input.btn {
  border: 2px solid white;
  border-radius: 1em;
  padding: 0.5em 1em;
  color: rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  width: 7rem;
  font-size: 1rem;
  height: auto;
  background-color: transparent;
}
.contact-us-section .contact-us-container .contact-form input.btn:hover {
  background-color: white;
  color: blue;
}
.contact-us-section .contact-us-container .contact-details-container {
  display: grid;
  place-content: center;
  padding: 1rem;
  gap: 2rem;
}
.contact-us-section .contact-us-container .contact-details-container .contact-detail {
  display: flex;
}
.contact-us-section .contact-us-container .contact-details-container .contact-detail .contact-icon {
  font-size: 1.5rem;
  width: 3rem;
  padding-block: 0.25em;
}
.contact-us-section .contact-us-container .contact-details-container .contact-detail .contact-info {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.contact-us-section .contact-us-container .contact-details-container .contact-detail .contact-info h3 {
  font-weight: 500;
  font-size: 1.2rem;
}
.contact-us-section .contact-us-container .contact-details-container .contact-detail .contact-info a {
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (width < 767px) {
  .contact-us-section .heading {
    font-size: 3rem;
  }
  .contact-us-section .contact-us-container {
    padding: 1rem;
    gap: 1rem;
  }
  .contact-us-section .contact-us-container .contact-form input.btn {
    margin-left: auto;
  }
}/*# sourceMappingURL=contact.css.map */