@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: logo;
  src: url("../assets/fonts/pepsi.ttf");
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 20px;
  min-height: 100vh;
  width: 100svw;
}

::-webkit-scrollbar {
  display: none;
}

/* nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../assets/images/background-triangle.jpg");
  background-position: 40% 50%;
  background-size: 300%;
  background-repeat: no-repeat;
}
.nav .header {
  display: flex;
  justify-content: center;
}
.nav .header .logo {
  width: 200px;
  padding: 0.5em 1em;
}
.nav .header .hamburger {
  display: none;
}
.nav .nav-links {
  display: flex;
  padding-right: 1em;
  align-items: baseline;
}
.nav .nav-links .nav-item {
  display: block;
  font-size: 1em;
  padding: 0.5em 1em;
  color: white;
  font-family: "Bubblegum Sans", cursive;
  letter-spacing: 1px;
}
.nav .nav-links .btn {
  border: 2px solid white;
  border-radius: 1em;
}

@media screen and (max-width: 768px) {
  .nav {
    height: 3em;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
  }
  .nav .header {
    width: 100%;
    height: 3em;
    justify-content: space-between;
    align-items: center;
  }
  .nav .header .logo {
    width: 120px;
  }
  .nav .header .hamburger {
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    overflow: hidden;
    margin: 0.5em 1.5em;
  }
  .nav .header .hamburger .menu-checkbox {
    opacity: 0;
    z-index: 2;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav .header .hamburger .bar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nav .header .hamburger .bar hr {
    width: 100%;
    height: 4px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
  }
  .nav .header .hamburger .menu-checkbox:checked + .bar hr:nth-child(1) {
    animation: open1 0.5s ease-in-out forwards;
  }
  .nav .header .hamburger .menu-checkbox:checked + .bar hr:nth-child(2) {
    animation: open2 0.5s ease-in-out forwards;
  }
  .nav .header .hamburger .menu-checkbox:checked + .bar hr:nth-child(3) {
    animation: open3 0.5s ease-in-out forwards;
  }
  .nav .header .hamburger .menu-checkbox + .bar hr:nth-child(1) {
    animation: close1 0.5s ease-in-out forwards;
  }
  .nav .header .hamburger .menu-checkbox + .bar hr:nth-child(2) {
    animation: close2 0.5s ease-in-out forwards;
  }
  .nav .header .hamburger .menu-checkbox + .bar hr:nth-child(3) {
    animation: close3 0.5s ease-in-out forwards;
  }
  .nav .open_link,
  .nav .nav-links {
    display: none;
    opacity: 0;
  }
  .nav .open_link {
    position: sticky;
    top: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    height: 100svi;
    row-gap: 1em;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 1;
    animation: fade_in 5s ease-in-out 2s forwards;
  }
  .nav:has(.open_link) {
    height: 100svi;
    background-position: 60% 50%;
  }
  .nav:has(.open_link) .header {
    padding-top: 2px;
  }
}
/* nav ends *//*# sourceMappingURL=product.css.map */