footer {
  background: linear-gradient(
    45deg,
    rgb(7, 7, 107),
    rgb(0, 0, 141),
    rgb(5, 5, 125)
  );
  font-family: $poppins;
  letter-spacing: 2px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-block: 4em;
  flex-basis: 33%;
  gap: 2em;
  .logo-img {
    width: 60px;
    aspect-ratio: 1/1;
  }
  .footer-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-transform: capitalize;
    a {
      padding-inline: 1em;
      font-size: 1.1rem;
    }
  }
  .footer-social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn {
      @include btn();
      font-size: 1rem;
      padding: 0.5em 1em;
    }
    .icons {
      padding: 1em;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      a {
        i {
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (width<767px) {
  footer {
    padding-block: 2em;
    flex-direction: column;
    gap: 0.5em;
    .logo-img {
      order: 2;
      margin: 1em;
    }
    .footer-link {
      width: 80%;
      order: 1;
      display: flex;
      flex-direction: column;
      padding: 0;
      text-align: center;
    }
    .footer-social-media {
      width: 100%;
      order: 3;
    }
  }
}

@media (hover) {
  footer {
    .footer-link {
      p {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .footer-social-media {
      .btn,
      .icons {
        cursor: pointer;
      }
    }
  }
}
