@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

$poppins: "Poppins", sans-serif;

@mixin display($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin btn {
  border: 2px solid white;
  border-radius: 1em;
  padding: 0.5em 1em;
  color: rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  &:hover {
    background-color: white;
    color: blue;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

body {
  font-size: 20px;
  font-family: $poppins;
  color: rgb(230, 230, 230);
  min-height: 100vh;
  width: 100svw;
}

.container {
  padding-inline: 5rem;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding-inline: 1rem;
  }
}
