@import "./setup";
@import "./nav";
@import "./footer";

* {
  font-family: $poppins;
  letter-spacing: 2px;
}

.cold-drinks-section {
  .cold-drink-tagline {
    font-size: 1.5em;
    text-transform: uppercase;
    display: block;
    padding: 1em 1em 0em;
    text-align: center;
    line-height: 3rem;
    em {
      font-size: 2.2em;
      font-style: normal;
      font-weight: 600;
      // filter: drop-shadow(0px 0px 2px #5c3b02);
    }
  }
  .coldrink-cards-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding-block: 4em;
    place-items: center;
    gap: 2em;

    .cold-drink-card {
      // padding: 2em 2em;
      // background-color: red;
      &::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        // top: 42.5%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        rotate: 0deg;
        transition: rotate 0.3s ease-in-out;
      }
      position: relative;
      backdrop-filter: blur(2px);
      text-align: center;
      width: 300px;
      height: 400px;

      .cold-drink-image {
        height: 300px;
        object-fit: contain;
        transition: all 0.3s ease-in-out;
      }
      .cold-drink-name {
        margin-top: 1em;
        line-height: 1.3em;
        font-size: 0.8em;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

#the1893 {
  background: linear-gradient(
    45deg,
    rgb(21, 11, 0),
    rgb(44, 44, 44),
    rgb(4, 0, 19)
  );
  .cold-drink-tagline {
    color: #bba071;
    em {
      color: #a16d14;
    }
  }
  .coldrink-cards-container {
    .cold-drink-card {
      padding-top: 1em;
      &::before {
        border: 2px solid rgb(79, 78, 78);
      }
      // background-color: rgba(79, 78, 78, 0.25);

      // background-image: linear-gradient(
      //   0deg,
      //   #181723b1 15%,
      //   rgba(22, 22, 23, 0.573) 15%
      // );
    }
  }
  .cold-drink-name {
    color: #bba071;
  }
}
#theFruits {
  background: linear-gradient(
    30deg,
    rgb(0, 0, 0) 30%,
    rgb(105, 0, 0) 20%,
    rgb(196, 47, 47),
    rgb(105, 0, 0) 70%,
    rgb(0, 0, 0) 70%
  );
  .cold-drink-tagline {
    color: rgb(241, 228, 228);
    em {
      &:nth-child(2) {
        color: #decc2c;
      }
      &:nth-child(3) {
        color: #de2c2c;
      }
    }
  }
  .coldrink-cards-container {
    justify-content: center;

    .cold-drink-card {
      padding: 1em 2em;
      &::before {
        border: 2px solid rgb(181, 166, 166);
      }
      // border: 2px solid rgb(181, 166, 166);
      // background-color: rgba(131, 114, 114, 0.25);

      // background-image: linear-gradient(
      //   0deg,
      //   #471a1aae 15%,
      //   rgba(120, 33, 33, 0.712) 15%
      // );
      .cold-drink-image {
        width: auto;
      }
      .cold-drink-name {
        color: white;
      }
    }
  }
}

.cold-drink-details-modal {
  position: absolute;
  position: -webkit-sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1980px;
  max-height: 1040px;
  min-height: 90%;
  overflow-y: scroll;
  border: transparent;
  margin-block: 2em;
  background: linear-gradient(
    45deg,
    rgb(1, 1, 82),
    rgb(23, 38, 157),
    rgb(2, 2, 96)
  );

  // display: flex;

  // display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;

  #modal-close-btn {
    position: absolute;
    top: 5%;
    right: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 2em;
    font-weight: 700;
    @include btn();
    color: black;
    font-size: 1.8rem;
    padding: 0.2em 0.4em;
  }
  .cold-drink-info {
    min-width: 30%;
    background-color: rgb(255, 255, 255);
    color: rgb(22, 22, 86);
    p {
      padding: 0.75rem 2rem;
      &:nth-child(1) {
        border-bottom: 2px solid rgb(2, 2, 99);
        font-weight: 700;
      }
      &:nth-child(3) {
        border-bottom: 2px solid rgb(2, 2, 99);
      }
      &:nth-child(4) {
        text-decoration: underline;
        text-underline-offset: 10px;
        font-size: 1.2em;
        font-weight: 600;
      }
    }
    #cold-drink-name {
      font-size: 2em;
    }
  }
  .cold-drink-image-container {
    width: 40%;
    display: flex;
    justify-content: center;
    #cold-drink-image {
      margin-inline: auto;
      height: 60%;
      animation: slide_in_with_style 0.5s ease-in-out forwards;
    }
  }
}

@media (hover) {
  .cold-drinks-section {
    .coldrink-cards-container {
      .cold-drink-card {
        &:hover {
          &::before {
            rotate: -5deg;
          }
          cursor: pointer;
          .cold-drink-image {
            rotate: 3deg;
            scale: 1.1;
            translate: 0px -30px;
            filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.447));
          }
          .cold-drink-name {
            scale: 1.2;
          }
        }
      }
    }
  }
  .cold-drink-details-modal {
    #modal-close-btn {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (width< 767px) {
  .cold-drinks-section {
    .cold-drink-tagline {
      font-size: 1.2em;
      em {
        font-size: 1.5em;
      }
    }
    .coldrink-cards-container {
      padding-block: 2em;
    }
  }
  .cold-drink-details-modal {
    padding: 2em 0em;
    flex-direction: column-reverse;
    justify-content: flex-end;
    min-height: 100svh;
    min-width: 100%;

    gap: 2em;
    #modal-close-btn {
      transform: translate(-40%, 50%);
      top: 0;
      right: 0;
      font-size: 1.2em;
    }
    .cold-drink-image-container {
      #cold-drink-image {
        width: auto;
        height: 250px;
      }
    }
    .cold-drink-info {
      width: 80%;

      p {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        &:nth-child(1) {
          font-size: 5rem;
        }
        &:nth-child(4) {
          font-size: 0.8em;
        }
      }
      #cold-drink-name {
        font-size: 1em;
      }
    }
  }
}

@keyframes slide_in_with_style {
  0% {
    transform: translateX(50%) rotate(10deg);
  }
  60% {
    transform: translateX(-10%);
  }
  100% {
    transform: none;
  }
}
