@import "./setup";
@import "./nav";

* {
  font-family: $Bubblegum;
  //   color: white;
  letter-spacing: 2px;
}

.cola-section {
  .head {
    font-size: 2em;
    text-transform: uppercase;
    display: block;
    padding: 1em 1em 0em;
    text-align: center;
    em {
      font-size: 2.2em;
    }
  }
  .cans {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 2em;
    place-items: center;
    gap: 2em;
    .can-container {
      padding: 2em 4em;
      text-align: center;
      .can-img {
        width: 100%;
        transition: all 0.3s ease-in-out;
      }
      .can-text {
        margin-top: 1em;
        line-height: 1.3em;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.the1893 {
  background: linear-gradient(
    45deg,
    rgb(21, 11, 0),
    rgb(44, 44, 44),
    rgb(4, 0, 19)
  );
  .head {
    color: #bba071;
    em {
      color: #a16d14;
    }
  }
  .can-text {
    color: #bba071;
  }
}
.theFruits {
  background: linear-gradient(
    30deg,
    rgb(0, 0, 0) 30%,
    rgb(105, 0, 0) 20%,
    rgb(196, 47, 47),
    rgb(105, 0, 0) 70%,
    rgb(0, 0, 0) 70%
  );
  .head {
    color: rgb(241, 228, 228);
    em {
      &:nth-child(2) {
        color: #decc2c;
      }
      &:nth-child(3) {
        color: #de2c2c;
      }
    }
  }
  .cans {
    justify-content: center;
    .can-container {
      padding: 1em 2em;
      .can-img {
        width: 80%;
      }
      .can-text {
        color: white;
      }
    }
  }
}

.pepsi-detail {
  #modal-close {
    position: absolute;
    top: 18%;
    right: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 2em;
    font-weight: 700;
  }
  width: 100%;
  padding-top: 100px;
  min-height: calc(100svh - 3em);
  background: linear-gradient(
    45deg,
    rgb(1, 1, 82),
    rgb(23, 38, 157),
    rgb(2, 2, 96)
  );
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;

  .info {
    min-width: 30%;
    background-color: rgb(255, 255, 255);

    color: rgb(22, 22, 86);
    p {
      padding: 0.75rem 2rem;
      &:nth-child(1) {
        border-bottom: 2px solid rgb(2, 2, 99);
      }
      &:nth-child(3) {
        border-bottom: 2px solid rgb(2, 2, 99);
      }
      &:nth-child(4) {
        text-decoration: underline;
        text-underline-offset: 10px;
        font-size: 1.2em;
      }
    }
    #can-title {
      font-size: 2em;
    }
  }
  .can-container {
    width: 40%;
    display: flex;
    justify-content: center;
    #can-image {
      margin-inline: auto;
      width: 50%;
    }
  }
}

@media (hover) {
  .cola-section {
    .cans {
      .can-container {
        &:hover {
          cursor: pointer;
          .can-img {
            rotate: 3deg;
            scale: 1.1;
            translate: 0px -30px;
          }
          .can-text {
            scale: 1.3;
          }
        }
      }
    }
  }
  .pepsi-detail {
    #modal-close {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cola-section {
    .head {
      font-size: 1.2em;
      em {
        font-size: 1.8em;
      }
    }
  }
  .pepsi-detail {
    flex-direction: column-reverse;
    justify-content: flex-end;
    min-height: calc(100lvh - 3em);
    gap: 2em;
    .can-container {
      #can-image {
        width: auto;
        height: 250px;
      }
    }
    .info {
      width: 80%;
      height: 10%;

      p {
        padding: 0.5em 1.5em;
        font-size: 0.8em;
        &:nth-child(4) {
          font-size: 1em;
        }
      }
      #can-title {
        font-size: 1.2em;
      }
    }

    #modal-close {
      top: 8%;
      right: 6%;
      font-size: 1.5em;
    }
  }
}
